.aboutUs-container {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    line-height: 2.5;
    letter-spacing: 1.1px;
    margin-top: 55px;
  }

/* CSS for about us component - mobile */
@media screen and (max-width: 600px) {
    .aboutUs-container {
      width: 90%;
      margin: 0 auto;
      padding: 10px;
      font-size: 14px;
      line-height: 2;
      margin-top: 60px;
    }
  }