.category-container {
  /* background: #B5E5A5; */
  margin: 65px 15px 0px 15px;
  border-radius: 9px;
  /* padding: 0.5px 0px; */
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
  /* border: 2px solid #4D8E4F; */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* padding: 20px 10px; */
}

.container .card {
  border-radius: 8px;
  background: transparent;
  text-align: center;
  height: 255px;
  width: 185px;
  margin: 7px;
}

.container .card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
  cursor: pointer;
}


.container .card__image {
  width: 185px;
  height: 185px;
  border-radius: 8px 8px 0px 0px;
}

.container .card__content {
  text-align: left;
  padding-left: 5px;
}

.container .card__title {
  font-size: 1rem;
  color: #212121;
}

.container .card__price {
  font-size: 0.9rem;
  font-weight: bold;
  color: #212121;
}


.category-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #4D8E4F;
  color: white;
  font-size: 20px;
  padding: 5px 8px 8px 8px;
  border-radius: 8px 8px 0px 0px;
  /* width: 80%; */
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

select {
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background: #4D8E4F;
  border: 2px solid #fff;
  padding: 1px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

.ad-categories {
  margin-top: 65px;
}

.ad-categories p {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  text-align: center;
}

.ad-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* margin-top: 55px; */
}


.one-caty {
  border-radius: 8px;
  background: transparent;
  text-align: center;
  height: 160px;
  width: 160px;
  margin: 7px;
}

.one-caty p{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -100%;
  left: -0%;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 100%;
  border-radius: 7px;
  margin-top: -6px;
}

.ad-category img {
  width: 160px;
  height: 160px;
  border-radius: 8px;
}

/* Media Query for mobile view */
@media (max-width: 576px) {
  .card__button {
    padding: 5px;
    font-size: 12px;
  }
}

/* Media Query for desktop view */
@media (min-width: 992px) {
  .card__button {
    padding: 5px;
    font-size: 16px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  select {
    width: 270px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }

}
