.category-container {
  /* background: #B5E5A5; */
  margin: 65px 15px 0px 15px;
  border-radius: 9px;
  /* padding: 0.5px 0px; */
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
  /* border: 2px solid #4D8E4F; */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* padding: 20px 10px; */
}

.card {
  /* display: inline-block; */
  /* display: flex;
  flex-direction: column; */
  border-radius: 8px;
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.12); */
  background: transparent;
  /* transition: 0.3s; */
  text-align: center;
  /* width: calc(50% - 10px); */
  /* margin-right: 10px; */
  /* padding-bottom: 15px; */
  /* border: 2px solid #4D8E4F; */
  height: 255px;
  width: 185px;
  margin: 7px;
  /* flex: 0 1 auto; */
  /* border: 1px solid #4D8E4F; */
}

.card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
  cursor: pointer;
}

/* .card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
} */

.card__image {
  width: 185px;
  height: 185px;
  border-radius: 8px 8px 0px 0px;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  /* border-bottom: 2px solid #4D8E4F; */
}

.card__content {
  /* padding: 5px; */
  text-align: left;
  padding-left: 5px;
}

.card__title {
  font-size: 1rem;
  color: #212121;
}

.card__price {
  font-size: 0.9rem;
  font-weight: bold;
  color: #212121;
  /* margin: 7px; */
}

.card__button {
  background-color: #4D8E4F;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 1px; */
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.12);
  /* transition: 0.3s; */
}

.card__button:hover {
  background-color: #4D8E4F;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  /* transform: scale(1.05); */
  cursor: pointer;
}

.category-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #4D8E4F;
  color: white;
  font-size: 20px;
  padding: 5px 8px 8px 8px;
  border-radius: 8px 8px 0px 0px;
  /* width: 80%; */
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

select {
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  background: #4D8E4F;
  border: 2px solid #fff;
  padding: 1px;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

/* Media Query for mobile view */
@media (max-width: 576px) {
  /* .card {
    width: 75%;
    margin: 10px;
  } */
  .card__button {
    padding: 5px;
    font-size: 12px;
  }
}

/* Media Query for desktop view */
@media (min-width: 992px) {
  /* .card {
    width: 20%;
    margin: 10px;
  } */
  .card__button {
    padding: 5px;
    font-size: 16px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
  }
  
  select {
    width: 270px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }

}
