.flowchart-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  align-items: center;
  margin: 40px;
}

.flowchart-container .flow {
  width: 250px;
  height: 250px;
  margin: 0px 20px 20px 20px;
}

.flowchart-container .flow img {
  width: 100%;
  object-fit: contain;
  padding: 10px;
}

.flowchart-container .flow p {
  font-size: 16px;
  color: #FFA845;
  text-align: center;
  padding: 0px 15px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .flowchart-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 0px;
  }
}