@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4D8E4F;
}

.hero {
  height: 100vh; 
  background-color: #B5E5A5;
}

.login-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background: #B5E5A5;
}

.login-signup .form {
  width: 320px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.login-signup .logo {
  width: 360px;
}

.login-signup .logotwo {
  width: 560px;
  margin-left: -100px;
}

.login-signup label {
  display: block;
  margin-bottom: 5px;
}

.login-signup label span {
  color: red;
}

.login-signup input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-signup input::placeholder {
  color: #828282;
}

.login-signup input:focus {
  border: 1px solid #ccc;
  outline: none;
}

.login-signup input[type="submit"] {
  background-color: #4D8E4F;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.login-signup input[type="submit"]:hover {
  background-color: #4D8E4F;
}

.login-signup .forgot {
  display: flex;
  justify-content: end;
  margin-top: -14px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #B5E5A5;
}

.login-signup .forgot:hover {
  color: #4D8E4F;
}

.login-signup .p-one {
  margin: 5px auto;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #4D8E4F;
  border: 1.5px solid #4D8E4F;
  border-radius: 5px;
  background-color: white;
  padding: 8px;
  width: fit-content;
  cursor: pointer;
}

.login-signup .p-one:hover {
  color: #ffffff;
  background-color: #4D8E4F;
  border: none;
}

.login-signup .p-two {
  color: #828282;
  font-weight: 500;
}

.login-signup .p-three {
  color: black;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 500;
}

.login-signup .p-four {
  color: #828282;
  font-weight: 500;
  margin-top: 27px;
}

.mobile-nav {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 8.5%;
  padding: 15px 25px 15px 25px;
  background-color: #fff;
  transition: all 0.4s ease;
  box-shadow: 0 0 3px hsl(0deg 0% 0% / 18%);
  box-shadow: 0px 4px 28px 0px #5f5f5f0d;
  box-shadow: 8px -7px 14px 7px #00000014;
}

.navbar .logo {
  width: 60px;
}

.iconsearch {
  width: 30px;
  height: 30px;
  color: #4D8E4F;
  background-color: #fff;
  border-radius: 4px 0px 0px 4px;
  padding: 4px;
  border-top: 2px solid #4D8E4F;
  border-bottom: 2px solid #4D8E4F;
  border-left: 2px solid #4D8E4F;
}

.navbar .search {
  display: flex;
  align-items: center;
}

.navbar #search {
  height: 30px;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 0px 0px 0px 0px;
  padding: 0px 7px;
  border-top: 2px solid #4D8E4F;
  border-bottom: 2px solid #4D8E4F;
  border-right: 2px solid #4D8E4F;
}

.navbar button {
  background: #4D8E4F;
  color: #fff;
  border: none;
  height: 30px;
  padding: 5px;
  margin-left: 2px;
  border-radius: 0px 4px 4px 0px;
  font-weight: 500;
  cursor: pointer;
}

.navbar #search::placeholder {
  color: #828282;
}

.nav-link {
  font-size: 17px;
  /* color: rgb(0 0 0 / 40%); */
  font-weight: bold;
  text-decoration: none;
  padding: 0px 25px;
  color: #828282;
}

.nav-btn {
  border: 1px solid #828282;
  color: #828282;
  cursor: pointer;
  padding: 7px 12px;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.nav-link:hover {
  color: #4D8E4F;

  border: none;
}

.nav-btn:hover {
  color: #ffffff;
  background-color: #4D8E4F;
  border: none;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
}

.hero-section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  color: #000;
  padding: 15px;
}

.hero-section-content h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #4D8E4F;
}

.hero-section-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  background-color: rgb(0 0 0 / 50%);
  color: #fff;
}

.hero-section-content p span {
  color: #FFA845;
  font-weight: bold;
}

.hero-section-content button {
  background-color: #4D8E4F;
  color: #fff;
  /* font-weight: bold; */
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}

.hero-section-content .btn-two {
  background-color: #fff;
  color: #4D8E4F;
}

.slider-container {
  /* width: 100%; */
  height: 92vh;
  background-color: #B5E5A5;
  border-radius: 9px;
  padding: 50px 8px 0px 8px;
  margin: 65px 8px 0px 8px;
}

.slider {
  position: relative;
  width: 100%;
  height: 66%;
  overflow: hidden;
  margin-bottom: 50px;
}

.slide {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.slide.active {
  opacity: 1;
}

.slide-text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: center;
  width: 80%;
  margin-right: 20px;
  border-radius: 8px;
}

.slide-text .first-text {
  margin-bottom: 8px;
}

.slide-btn {
  background:  #4D8E4F;
  color: #fff;
  border: 0;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
}


.slider-nav {
  width: 100%;
  text-align: center;
  
}

.slider-nav-btn {
  background: #828282;
  border: 0;
  padding: 5px;
  border-radius: 50%;
  font-size: 14px;
  margin-right: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  position: relative;
  bottom: 0;
}

.slider-nav-btn.active {
  background: #FFA845;
}

.slider-arrows {
  display: flex;
  justify-content: space-between;
}

.slider-arrow-btn {
  position: relative;
  top: -25vh;
  background: #FFA845;
  color: #fff;
  border: 0;
  padding: 6px 8px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

@media (max-width: 952px) {
  nav {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    height: 55px;
    z-index: 1;
  }

  .navbar #search {
    width: 120px;
  }

  .navbar #search::placeholder {
    color: transparent;
  }

  nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    padding: 5px 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #fff;
    z-index: 1;
  }

  .mobile-nav .nav-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 0px;
    color: #828282;
  }

  .mobile-nav .nav-link:hover {
    color: #4D8E4F;
    text-decoration: none;
  }

  .mobile-nav .nav-link .icon {
    font-size: 27px;
  }



  .login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #B5E5A5;
  }

  .login-signup .logo {
    display: none;
  }

  .login-signup .logotwo {
    display: none;
  }

  .hero-section-content h1 {
    font-size: 1.8rem;
  }

  .hero-section-content p {
    font-size: 1rem;
  }

  .hero-section-content button {
    padding: 7px 18px;
  }
}
