@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ff6600;
}

.hero {
  height: 100vh;
}

.login-signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  background: rgb(255, 102, 0);
  background: radial-gradient(
    circle,
    rgba(255, 102, 0, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.login-signup .form {
  width: 320px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

.login-signup .logo {
  width: 360px;
}

.login-signup .logotwo {
  width: 560px;
  margin-left: -100px;
}

.login-signup label {
  display: block;
  margin-bottom: 5px;
}

.login-signup label span {
  color: red;
}

.login-signup input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-signup input::placeholder {
  color: rgb(0 0 0 / 40%);
}

.login-signup input:focus {
  border: 1px solid #ccc;
  outline: none;
}

.login-signup input[type="submit"] {
  background-color: #ff6600;
  color: #fff;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin-top: 25px;
}

.login-signup input[type="submit"]:hover {
  background-color: #ff6600;
}

.login-signup .forgot {
  display: flex;
  justify-content: end;
  margin-top: -14px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #ff6600;
}

.login-signup .p-one {
  margin: 5px auto;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #ff6600;
  border: 1.5px solid #d35704;
  border-radius: 5px;
  background-color: white;
  padding: 8px;
  width: fit-content;
  cursor: pointer;
}

.login-signup .p-one:hover {
  color: #ffffff;
  background-color: #ff6600;
  border: none;
}

.login-signup .p-two {
  color: rgb(0 0 0 / 40%);
  font-weight: 500;
}

.login-signup .p-three {
  color: black;
  font-size: 22px;
  margin-bottom: 25px;
  font-weight: 500;
}

.login-signup .p-four {
  color: rgb(0 0 0 / 40%);
  font-weight: 500;
  margin-top: 27px;
}

.mobile-nav {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 8.5%;
  padding: 15px 25px 15px 25px;
  background-color: black;
  transition: all 0.4s ease;
  box-shadow: 0 0 3px hsl(0deg 0% 0% / 18%);
  box-shadow: 0px 4px 28px 0px #5f5f5f0d;
  box-shadow: 8px -7px 14px 7px #00000014;
}

.navbar .logo {
  width: 60px;
}

.iconsearch {
  width: 30px;
  height: 30px;
  color: #ff6600;
  background-color: #fff;
  border-radius: 4px 0px 0px 4px;
  padding: 4px;
}

.navbar .search {
  display: flex;
  align-items: center;
}

.navbar #search {
  height: 30px;
  width: 300px;
  border: none;
  outline: none;
  border-radius: 0px 4px 4px 0px;
  padding: 0px 7px;
}

.navbar #search::placeholder {
  color: #ff6600;
}

.nav-link {
  font-size: 17px;
  /* color: rgb(0 0 0 / 40%); */
  color: black;
  text-decoration: none;
  padding: 0px 25px;
  color: #fff;
}

.nav-btn {
  border: 1px solid #ff6600;
  color: #ff6600;
  cursor: pointer;
  padding: 7px 12px;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.nav-link:hover {
  color: #ff6600;
  border: none;
}

.nav-btn:hover {
  color: #ffffff;
  background-color: #ff6600;
  border: none;
}

.hero-section {
  position: relative;
  width: 100%;
  height: 90%;
  text-align: center;
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
}

.hero-section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  color: #000;
  padding: 15px;
}

.hero-section-content h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #ff6600;
}

.hero-section-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  background-color: rgb(0 0 0 / 50%);
  color: #fff;
}

.hero-section-content p span {
  color: #ff6600;
  font-weight: bold;
}

.hero-section-content button {
  background-color: #ff6600;
  color: #fff;
  /* font-weight: bold; */
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}

.hero-section-content .btn-two {
  background-color: #fff;
  color: #ff6600;
}

@media (max-width: 952px) {
  nav {
    display: none;
  }
}

@media (max-width: 600px) {
  .navbar {
    background-color: black;
    position: fixed;
    top: 0;
    height: 55px;
    z-index: 1;
  }

  .navbar #search {
    width: 200px;
  }

  nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    padding: 5px 15px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: black;
    z-index: 1;
  }

  .mobile-nav .nav-link {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    padding: 0px;
  }

  .mobile-nav .nav-link .icon {
    font-size: 27px;
  }

  .login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 102, 0);
    background: radial-gradient(
      circle,
      rgba(255, 102, 0, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
  }

  .login-signup .logo {
    display: none;
  }

  .login-signup .logotwo {
    display: none;
  }

  .hero-section-content h1 {
    font-size: 1.8rem;
  }

  .hero-section-content p {
    font-size: 1rem;
  }

  .hero-section-content button {
    padding: 7px 18px;
  }
}
